html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-wrapper {
  width: 100%;
  height: 46px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.logo-wrapper .logo {
  width: 168px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
}

@media only screen and (max-width: 320px) {
  .footer {
    position: relative;
  }
}

.footer .footer-text {
  color: #A3A6B4;
  font-size: 12px;
}

@media only screen and (max-width: 320px) {
  .footer .footer-text {
    font-size: 11px;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F0F0F7;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.content {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1080px) {
  .content {
    width: 65%;
  }
}

@media only screen and (max-width: 830px) {
  .content {
    width: 85%;
  }
}

@media only screen and (max-width: 320px), only screen and (max-width: 620px) {
  .content {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content .form-title {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
}

.content .mui-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 320px), only screen and (max-width: 620px) {
  .content .mui-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.content .mui-form .input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .mui-form .input-wrapper .dupla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 320px), only screen and (max-width: 620px) {
  .content .mui-form .input-wrapper .dupla {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.content .mui-form .input-wrapper .dupla .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

@media only screen and (max-width: 320px), only screen and (max-width: 620px) {
  .content .mui-form .input-wrapper .dupla .form-container {
    width: 95%;
  }
}

.content .mui-form .input-wrapper .dupla .form-container .input-title {
  font-size: 16.5px;
  font-weight: bold;
  color: #2A3554;
}

.content .mui-form .input-wrapper .dupla .form-container input {
  font-style: italic;
  font-size: 13.5px;
  margin-top: 8px;
  height: 25px;
}

@media only screen and (max-width: 300px) {
  .content .mui-form .input-wrapper .dupla .form-container input {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .content .mui-form .phones {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.content .mui-form .phones .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0px;
}

@media only screen and (max-width: 320px) {
  .content .mui-form .phones .form-container {
    width: 100%;
  }
}

.content .mui-form .phones .form-container .input-field .input-title {
  font-size: 16.5px;
  font-weight: bold;
  color: #2A3554;
}

@media only screen and (max-width: 320px), only screen and (max-width: 620px) {
  .content .mui-form .phones .form-container .input-field .input-title {
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.content .mui-form .phones .form-container .input-field .phone1 {
  font-style: italic;
  font-size: 13.5px;
  margin-top: 8px;
  height: 25px;
  width: 30%;
}

@media only screen and (max-width: 300px) {
  .content .mui-form .phones .form-container .input-field .phone1 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px), only screen and (max-width: 620px) {
  .content .mui-form .phones .form-container .input-field .phone1 {
    width: 35%;
  }
}

.content .mui-form .phones .form-container .input-field .phone2 {
  font-style: italic;
  font-size: 13.5px;
  margin-top: 8px;
  height: 25px;
  width: 55%;
  margin-left: 15px;
}

@media only screen and (max-width: 300px) {
  .content .mui-form .phones .form-container .input-field .phone2 {
    font-size: 12px;
  }
}

.content .mui-form .agreement-wrapper .agreement {
  color: #707070;
  font-size: 13px;
  padding-top: 40px;
}

@media only screen and (max-width: 320px) {
  .content .mui-form .agreement-wrapper .agreement {
    padding-top: 10px;
  }
}

.content .mui-form .agreement-wrapper .agreement .legal-link {
  color: #0A92EF;
}

.content .mui-form .agreement-wrapper .agreement .legal-link:hover {
  text-decoration: underline;
}

.content .mui-form .btn-wrapper {
  margin-top: 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 320px) {
  .content .mui-form .btn-wrapper {
    margin-top: 15px;
  }
}

.content .mui-form .btn-wrapper .register-btn {
  background-color: #30CF94;
  color: #F0F0F7;
  font-size: 13.5px;
  padding: 9px 110px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.content .mui-form .btn-wrapper .register-btn:hover {
  background-color: #009d66;
}

@media only screen and (max-width: 320px) {
  .content .mui-form .btn-wrapper .register-btn {
    padding: 9px 85px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: none;
}
/*# sourceMappingURL=styles.css.map */