html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F0F0F7;
  height: 100%;
}

html {
  height: 100%;
}

.logo-wrapper {
  width: 100%;
  height: 46px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.logo-wrapper .logo {
  width: 168px;
}

.content {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .form-title {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content .mui-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .mui-form .input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .mui-form .input-wrapper .dupla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .mui-form .input-wrapper .dupla .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.content .mui-form .input-wrapper .dupla .form-container .input-title {
  font-size: 16.5px;
  font-weight: bold;
  color: #2A3554;
}

.content .mui-form .input-wrapper .dupla .form-container input {
  font-style: italic;
  font-size: 13.5px;
  margin-top: 8px;
  height: 25px;
}

.content .mui-form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0px;
}

.content .mui-form .form-container .input-title {
  font-size: 16.5px;
  font-weight: bold;
  color: #2A3554;
}

.content .mui-form .form-container .phone1 {
  font-style: italic;
  font-size: 13.5px;
  margin-top: 8px;
  height: 25px;
  width: 30%;
}

.content .mui-form .form-container .phone2 {
  font-style: italic;
  font-size: 13.5px;
  margin-top: 8px;
  height: 25px;
  width: 55%;
  margin-left: 15px;
}

.content .mui-form .agreement-wrapper .agreement {
  color: #707070;
  font-size: 13px;
  padding-top: 40px;
}

.content .mui-form .agreement-wrapper .agreement .legal-link {
  color: #0A92EF;
}

.content .mui-form .agreement-wrapper .agreement .legal-link:hover {
  text-decoration: underline;
}

.content .mui-form .btn-wrapper {
  margin-top: 25px;
  margin-bottom: 50px;
}

.content .mui-form .btn-wrapper .register-btn {
  background-color: #30CF94;
  color: #F0F0F7;
  font-size: 13.5px;
  padding: 9px 110px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.content .mui-form .btn-wrapper .register-btn:hover {
  background-color: #009d66;
}

.footer {
  background-color: white;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0px;
}

.footer .footer-text {
  color: #A3A6B4;
  font-size: 12px;
}

.principal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 46px);
  padding-top: 5%;
}

.principal-content .message-wrapper .msg-title {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}

.principal-content .message-wrapper .msg-text {
  color: #707070;
  font-size: 14px;
  padding: 15px 0px 28px 0px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.principal-content .continue-btn {
  margin-top: 22px;
  margin-bottom: 50px;
  background-color: #30CF94;
  color: #F0F0F7;
  font-size: 13.5px;
  padding: 9px 110px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}

.principal-content .continue-btn:hover {
  background-color: #009d66;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: none;
}
/*# sourceMappingURL=styles.css.map */