html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #F0F0F7;
}

.logo-wrapper{
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid gray;
    //flex-shrink: 0;
    .logo{
        width: 15%;
    }
}

.content{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-title{
        color: #707070;
        font-size: 18px;
        font-weight: bold;
    }
    .mui-form{
        //display: flex;
        //width: 70%;
        //justify-content: space-around;
        .input-wrapper{
            width: 90%;
            .dupla{
                display: flex;
                justify-content: space-between;
                .form-container{
                    display: flex;
                    flex-direction: column;
                    width: 45%;
                    .input-title{
                        font-size: 14px;
                        font-weight: bold;
                        color: #2A3554;
                        margin-top: 20px;
                        margin-bottom: 0px;
                    }
                    input{
                        //padding: 4px 0px;
                        font-style: italic;
                        font-size: 13.5px;
                        background-color: #F0F0F7;
                        color: #707070;
                    }
                }
            }
        }
        .form-container{
            display: flex;
            flex-direction: column;
            width:60%;
            margin: 0px;
            .input-title{
                font-size: 14px;
                font-weight: bold;
                color: #2A3554;
                margin-bottom: 10px;
            }
        }
        .agreement-wrapper{
            .agreement{
                color: #707070;
                font-size: 13px;
                padding-top: 45px;
                //padding-bottom: 15px;
                .legal-link{
                    color: #0A92EF;
                }
            }
        }
        .btn-wrapper{
            margin-top: 25px;
            margin-bottom: 65px;
            .register-btn{
                background-color: #30CF94;
                color: #F0F0F7;
                font-size: 13.5px;
                padding: 9px 110px;
                border-radius: 5px;
                margin-top: 10px;
            }
        }
    }
}

.footer{
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    .footer-text{
        color: #A3A6B4;
        font-size: 12px;
    }
}

/*
::-webkit-input-placeholder { /* Chrome/Opera/Safari 
    color: #707070;
    background-color: #F0F0F7;
}
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }

