@import 'reset.scss';
@import 'header.scss';
@import 'footer.scss';


//breakpoints
$small: 300px;
$mobile: 320px;
$middle: 620px;
$tablet: 830px;
$first: 1080px;

//colors
$color-primary: #30CF94;
$color-primary-dark: #009d66;
$color-txt: #707070;
$color-txt-medium: #A3A6B4;
$color-gray-light: #F0F0F7;
$color-txt-title: #2A3554;
$color-txt-link: #0A92EF;

@mixin to-center-all{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin html-body-values{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin center-ver-hor{
    align-items: center;
    text-align: center;
}

@mixin input-props{
    font-style: italic;
    font-size: 13.5px;
    margin-top: 8px;
    height: 25px;
    border-top: none;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #A3A6B4;
    background-color: unset;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
        outline: none;
        border-bottom: 1px solid $color-txt-link;
    }
    @media only screen and (max-width: $mobile), only screen and (max-width: $middle){
        width: 100%;
        margin-bottom: 15px;
    }
    @media only screen and (max-width: $small){
        font-size: 12px;
    }
}

@mixin green-btn{
    background-color: $color-primary;
    color: $color-gray-light;
    font-size: 13.5px;
    padding: 9px 110px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: $color-primary-dark;
    }
    @media only screen and (max-width: $mobile){
        padding: 9px 85px;
    }
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: $color-gray-light;
    @include html-body-values();
}

html{
    @include html-body-values();
}

.content{
    width: 50%;
    margin: auto;
    padding-top: 40px;
    @include flex-column();
    justify-content: space-around;
    @media only screen and (max-width: $first){
        width: 65%;
    }
    @media only screen and (max-width: $tablet){
        width: 85%;
    }
    @media only screen and (max-width: $mobile), only screen and (max-width: $middle){
        width: 90%;
        align-items: center;
    }
    .form-title{
        color: $color-txt;
        font-size: 18px;
        font-weight: bold;
    }
    .form{
        @include flex-column();
        justify-content: center;
        margin-top: 30px;
        .input-wrapper{
            width: 100%;
            @include flex-column();
            justify-content: space-between;
            .dupla{
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                @media only screen and (max-width: $mobile), only screen and (max-width: $middle){
                    flex-direction: column;
                    margin: 0px;
                    width: 100%;
                }
                .form-container{
                    @include flex-column();
                    width: 45%;
                    @media only screen and (max-width: $mobile), only screen and (max-width: $middle){
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    .input-title{
                        font-size: 16.5px;
                        font-weight: bold;
                        color: $color-txt-title;
                    }
                    input{
                        @include input-props();
                    }
                }
            }
        }
        .phones{
            .form-container{
                @include flex-column();
                width:60%;
                margin-bottom: 15px;
                @media only screen and (max-width: $mobile){
                    width: 100%;
                }
                .input-title{
                    font-size: 16.5px;
                    font-weight: bold;
                    color: $color-txt-title;
                }
                .phones-input{
                    display: flex;
                    .phone1{
                        @include input-props();
                        width: 25%;
                        @media only screen and (max-width: $mobile), only screen and (max-width: $middle){
                            width: 35%;
                        }
                    }
                    .phone2{
                        @include input-props();
                        width: 40%;
                        margin-left: 15px;
                        @media only screen and (max-width: $mobile), only screen and (max-width: $middle){
                            width: 48%;
                        }
                    }  
                }
                  
            }
        }
        .agreement-wrapper{
            .agreement{
                color: $color-txt;
                font-size: 13px;
                padding-top: 40px;
                @media only screen and (max-width: $mobile){
                    padding-top: 10px;
                }
                .legal-link{
                    color: $color-txt-link;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .btn-wrapper{
            margin-top: 25px;
            margin-bottom: 50px;
            @media only screen and (max-width: $mobile){
                margin-top: 15px;
                @include center-ver-hor();
            }
            .register-btn{
                @include green-btn();
                margin-top: 10px;
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type='number'] {
    -moz-appearance: none;
}

