html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F0F0F7;
}

.logo-wrapper {
  width: 100%;
  height: 65px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
}

.logo-wrapper .logo {
  width: 15%;
}

.content {
  width: 50%;
  margin: auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .form-title {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
}

.content form .input-wrapper {
  width: 90%;
}

.content form .input-wrapper .dupla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content form .input-wrapper .dupla .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.content form .input-wrapper .dupla .form-container .input-title {
  font-size: 14px;
  font-weight: bold;
  color: #2A3554;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content form .input-wrapper .dupla .form-container input {
  padding: 4px 0px;
  font-style: italic;
  background-color: #F0F0F7;
  border-bottom: 1px solid #707070;
}

.content form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0px;
}

.content form .form-container .input-title {
  font-size: 14px;
  font-weight: bold;
  color: #2A3554;
  margin-bottom: 10px;
}

.content form .agreement-wrapper .agreement {
  color: #707070;
  font-size: 13px;
  padding-top: 45px;
}

.content form .agreement-wrapper .agreement .legal-link {
  color: #0A92EF;
}

.content form .btn-wrapper {
  margin-top: 25px;
  margin-bottom: 65px;
}

.content form .btn-wrapper .register-btn {
  background-color: #30CF94;
  color: #F0F0F7;
  font-size: 13.5px;
  padding: 9px 110px;
  border-radius: 5px;
  margin-top: 10px;
}

.footer {
  background-color: white;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text {
  color: #A3A6B4;
  font-size: 12px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #707070;
  background-color: #F0F0F7;
}
/*# sourceMappingURL=styles.css.map */